@model GymVidaYSaludWEB.Entities.DatosMedidas
@{
    ViewData["Title"] = "Actualizar Medida";
}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymVidaYSaludWEB.styles.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width" />
    <title>Registrar Medida</title>
</head>

<body>
    <div class="container">

        <div class="row">

            <div class="col"></div>
            <div class="col">
                <div class="card mt-5 cardLogin">
                    <div class="card-header text-center">
                        Registrar Medida
                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm("ActualizarMedida", "DatosMedidas"))
                        {

                            <div class="mb-3">
                                <label class="text-center">Cédula Cliente</label>
                                @Html.DropDownListFor(m => m.Cedula, ViewBag.Lista as List<SelectListItem>, new { @class="form-control",required="required", @readonly="readonly", @disabled="disabled" })
                            </div>

                   
                            <div class="mb-3">
                                <label class="text-center">Peso</label>
                                @Html.TextBox("Peso",Model.Peso.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>
                               <div class="mb-3">
                                <label class="text-center">Altura</label>
                                @Html.TextBox("Altura",Model.Altura.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>
                               <div class="mb-3">
                                <label class="text-center">Hombro</label>
                                @Html.TextBox("Hombro",Model.Hombro.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>
                               <div class="mb-3">
                                <label class="text-center">Pecho</label>
                                @Html.TextBox("Pecho",Model.Pecho.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Cadera</label>
                                @Html.TextBox("Cadera",Model.Cadera.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Abdomen</label>
                                @Html.TextBox("Abdomen",Model.Abdomen.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Cintura</label>
                                @Html.TextBox("Cintura",Model.Cintura.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Bicep Derecho</label>
                                @Html.TextBox("BicepD",Model.BicepD.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Bicep Izquierdo</label>
                                @Html.TextBox("BicepI",Model.BicepI.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Muslo Derecho</label>
                                @Html.TextBox("MusloD",Model.MusloD.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Muslo Izquierdo</label>
                                @Html.TextBox("MusloI",Model.MusloI.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Pantorrilla Derecha</label>
                                @Html.TextBox("PantorrillaD",Model.PantorrillaD.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>                <div class="mb-3">
                                <label class="text-center">Pantorrilla Izquierda</label>
                                @Html.TextBox("PantorrillaI",Model.PantorrillaI.ToString(),
                            new
                            {
                            @class="form-control",
                            @type="input",
                            })
                            </div>

                            
                                <div class="mb-3">
                                    <button class="btn btn-warning" style="width: 100%">Actualizar Medida</button>
                                </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>