@model IEnumerable<GymVidaYSaludWEB.Entities.DatosCliente>

@{
    ViewData["Title"] = "Consultar Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="RegistrarCliente">Registrar nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.Dia_de_Pago_Cada_Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
              <td>
                @Html.DisplayFor(modelItem => item.idCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Dia_de_Pago_Cada_Mes)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.ActionLink("Editar", "ActualizarCliente", new { idCliente=item.idCliente }) |
                @Html.ActionLink("Información", "ConsultarUnCliente", new { idCliente=item.idCliente }) |
                @Html.ActionLink("Borrar", "EliminarCliente", new { idCliente=item.idCliente})
            </td>
        </tr>
}
    </tbody>
</table>
