@model GymVidaYSaludWEB.Entities.DatosCliente

@{
    ViewData["Title"] = "Consultar Cliente";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datos del Cliente</title>
</head>
<div class="container">
    <p class="text-center h2 p-4">Información del cliente</p>
    <body>

        <hr />
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-10 border">

                            <p class="h4 mt-4">
                                Cédula: <span style="color:gray; margin-left:5%;">@Html.DisplayFor(model => model.Cedula)</span>
                            </p>
                            <p class="h4 mt-4">
                                Nombre Completo: <span style="color:gray; margin-left:5%;">@Html.DisplayFor(model => model.NombreCompleto)</span>
                            </p>
                            <p class="h4 mt-4">
                                Día de pago: <span style="color:gray; margin-left:5%;">@Html.DisplayFor(model => model.Dia_de_Pago_Cada_Mes)</span>
                            </p>
                            <p class="h4 mt-4">
                                Numero Telefónico: <span style="color:gray; margin-left:5%;">@Html.DisplayFor(model => model.NumContacto)</span>
                            </p>
                            <p class="h4 mt-4">
                                Correo: <span style="color:gray; margin-left:5%;">@Html.DisplayFor(model => model.Correo)</span>
                            </p>

                        </div>

                    </div>
                </div>
                <div class="row gx-5 align-items-center justify-content-center">
                    @if (ViewBag.Rol == "1")
                    {
                        <div class="mt-5 col-lg-8 col-xl-7 col-xxl-6 ">
                              <div>
                                @Html.ActionLink("Editar", "ActualizarCliente", new { Model.idCliente}, new {@class="btn btn-warning btn-lg btn-block", @style="width:100%"})
                            </div>
                            
                            <div>
                                <a class="btn text-white btn-lg btn-block mt-3" style="background-color:#212529; width:100%;" asp-controller="DatosClientes" asp-action="ConsultarTodosClientes">Volver</a>
                            </div>
                          
                            
                        </div>


                    }
                    else
                    {
                    <div class="mt-5 col-lg-8 col-xl-7 col-xxl-6 ">
                        <a class="btn text-white" style="background-color:#212529; width:100%" asp-controller="DatosClientes" asp-action="ConsultarTodosClientes">Volver</a>
                    </div>
                    }
                </div>
            </div>
        </div>

            </body>
</div>


</div>
</html>
