@model IEnumerable<GymVidaYSaludWEB.Entities.UsuariosObj>

@{
    ViewData["Title"] = "Consultar Usuarios";
}

@section Styles{

      <link rel="stylesheet" href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" />
}

<div class="container">
    
<p class="text-center h2 p-4">Tabla de Usuarios del GYM</p>
@if (ViewBag.Rol == "1")
{
<p>
     <a class="btn btn-success" asp-action="RegistrarUsuario">Registrar nuevo usuario</a>
</p>
}

<table class="table display" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                @if (ViewBag.Rol == "1")
                {

                    <td>
                     
                        @Html.ActionLink("Editar", "ActualizarUsuario", new { idUsuario=item.idUsuario }, new {@class="btn btn-warning"}) 
                        @Html.ActionLink("Información", "ConsultarUnUsuario", new { idUsuario=item.idUsuario }, new {@class="btn btn-primary"})
                        @Html.ActionLink("Borrar", "EliminarUsuario", new { idUsuario=item.idUsuario}, new {@class="btn btn-danger delete-confirmation"})
                    </td>
                } else
                {
                    <td> @Html.ActionLink("Información", "ConsultarUnUsuario", new { idUsuario=item.idUsuario }, new {@class="btn btn-primary"}) </td>
                    
                }
            </tr>
        }
    </tbody>
</table>

</div>

@section Scripts{

    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
<script> /*delete-confirmation script*/

    $('.delete-confirmation').on('click',function (e){
        e.preventDefault();
        var self = $(this);
        Swal.fire({
            title: '¿Estas seguro?',
            html:'¡No podrás deshacer esto! Se eliminará al cliente de forma permanente.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Eliminado!',
                    'Los datos fueron eliminados',
                    'success',

                )
                location.href = self.attr('href');
            }
        })
    });

</script>

}