@model GymVidaYSaludWEB.Entities.UsuariosObj
@{
    ViewData["Title"] = "Registrar Usuario";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymVidaYSaludWEB.styles.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title>Registrar Usuario</title>


</head>
<body>
    <div class="container">

        <div class="row">

            <div class="col"></div>
            <div class="col">
                <div class="card mt-5 cardLogin">
                    <div class="card-header text-center">
                        Registrar Usuario
                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm("RegistrarUsuario", "Usuario"))
                        {
                            <div class="mb-3">
                                <label class="text-center mb-2">Nombre de Usuario</label>
                                @Html.TextBox("NombreUsuario","",
                            new
                            {
                            @class="form-control",
                            @type="text",
                            @placeholder="Digite el nombre de usuario",
                            autocomplete="off"
                            })
                                <div class=" text-danger mb-2">
                                    @Html.ValidationMessageFor(d => d.NombreUsuario)
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-center mb-2">Correo electrónico</label>
                                @Html.TextBox("Correo","",
                            new
                            {
                            @class="form-control",
                            @type="text",
                            @placeholder="Digite el corre electrónico",
                            autocomplete="off"
                            })
                                <div class=" text-danger mb-2">
                                    @Html.ValidationMessageFor(d => d.Correo)
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-center mb-2">Contraseña</label>
                                @Html.TextBox("Contraseña","",
                            new
                            {
                            @class="form-control",
                            @type="password",
                            @placeholder="Digite la contraseña",
                            autocomplete="new-password"
                            })
                                <div class=" text-danger">
                                    @Html.ValidationMessageFor(d => d.Contraseña)
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="text-center">Rol</label>
                                @Html.DropDownList("Rol",
                            new List<SelectListItem>{
                            new SelectListItem{ Text ="Mayor", Value ="1"},
                            new SelectListItem{ Text ="Menor", Value ="2"}
                            },
                            new
                            {
                            @class="form-control",
                            required = "required",
                            @type="input",
                            })
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success px-5" style="width: 100%">Registrar usuario</button>
                            </div>
                        }

                           <div class="col">
                                <a class="btn text-white btn-lg btn-block mt-3 h6" style="background-color:#212529; width:100%; font-size:15px" asp-controller="Usuario" asp-action="ConsultarUsuarios">Volver</a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
